.animal__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    .animal__container--name{
        color: red;
        width: 100%;
    }
    .animal__container--description {
        width: 100%;
    }
    .animal__container--image{
        width: 100%;
    }
}

